.products-container {
    display: flex;
    /* Utiliza Flexbox para el layout */
    flex-wrap: wrap;
    flex-direction: column;
    /* Permite que las tarjetas se muevan a la siguiente línea si no hay espacio */
    justify-content: space-around;
    /* Espacia las tarjetas en el contenedor */
    margin: 20px;
    /* Margen alrededor del contenedor */
    gap: 20px;
    /* Espacio entre tarjetas */
    margin-top: 50px;
}